.cardContainer_container {
  border: none;
  display: flex;

  flex-direction: row;
  border-radius: 16px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  padding: 30px;
  background-color: $gray10;
}
