.cardContainer_container {
  border: none;
  display: flex;

  flex-direction: row;
  border-radius: 16px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  padding: 30px;
  background-color: $gray10;

  @media (max-width: 550px) {
    width: 100%;
    gap: 1em;
    padding: 0px;
  }
}
