$main: #ebcaca;
$secondary: #705757;
$clear: #f2f0ea;
$gray: #d7d7d7;
$darkerGray: #707070;

$cardColor: #f9f9f9;

$primary: #000000;
$secondary: #547fe6;
$tertiary: #c20215;
$Color5: #c0eef2;
$Color7: #eaf7f8;
$gray8: #e7e6f6;
$gray9: #f1f0ff;
$gray10: #f8f7ff;
$white: #ffff;
$divider: #b2b2c1;
